<div>
    <form #userRef="ngForm" (ngSubmit)="storeUser(userRef)">
        <label>ID</label>
        <input type = "number" name = "id" ngModel /><br/>
        <label>NAME</label>
        <input type = "text" name = "name" ngModel/><br/>
        <label>Email</label>
        <input type = "text" name = "email" ngModel/><br/>
        <label>Password</label>
        <input type = "text" name = "password" ngModel/><br/>
        <input type = "submit" value ="store user"/>
        <input type = "reset"/>

        
    </form>
    <input type="button" value="Display User"
    (click)="loadUsers()"/>
    <br/>
    {{Msgstore}}
    <hr/>
    <div *ngIf = "flag">
        <h2>Update User</h2>
        <form (ngSubmit)="updateUserName()">
            <label>Id</label>
            <input type = "number" name="id" [(ngModel)]="id" readonly/><br/>
            <label>Name</label>
            <input type = "text" name="Name" [(ngModel)]="name"/><br/>
            <input type = "submit" name="update User"/>
            <input type = "reset" name="reset"/>
        </form>
        <hr/>
    </div>
    <table>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Delete Category</th>
            <th>Update Catgeory</th>


        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.password}}</td>

            <td><input type = "button" value ="delete" (click)="deleteUser(user.id)"/></td>
            <td><input type = "button" value ="update" (click)="updateUser(user)"/></td>

        </tr>
        <br/>
    {{Msgdelete}}
    <br/>
    </table>
</div>
