<div>
    <input type="button" value="Display Book"
    (click)="loadBooks()"/>
    <br/>
    <table class="table table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Category</th>
    </tr>

    <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.name}}</td>
        <td>{{book.category}}</td>
    </tr>
</table>
</div>

