<div>
  <h2 align="center">Bookess Online Book Store</h2>
  <div align="right"> 
    <a routerLink = "userlogin">userlogin</a>
  <a routerLink = "displaybook">DisplayBook</a>
  <a routerLink="login">Login</a>
  <a routerLink="register">register</a>
</div>
  <hr/>
  <router-outlet></router-outlet>
</div>

