<div>
    <form #bookRef="ngForm" (ngSubmit)="storeBook(bookRef)">
        <label>ID</label>
        <input type = "number" name = "id" ngModel /><br/>
        <label>NAME</label>
        <input type = "text" name = "name" ngModel/><br/>
        <label>Category</label>
        <input type = "text" name = "category" ngModel/><br/>
        <input type = "submit" value ="store book"/>
        <input type = "reset"/>

        
    </form>
    <input type="button" value="Display Book"
    (click)="loadBooks()"/>
    <br/>
    {{storeMsg}}
    <hr/>
    <div *ngIf = "flag">
        <h2>Update Book</h2>
        <form (ngSubmit)="updateBookCategory()">
            <label>Id</label>
            <input type = "number" name="id" [(ngModel)]="id" readonly/><br/>
            <label>Category</label>
            <input type = "text" name="category" [(ngModel)]="category"/><br/>
            <input type = "submit" name="update Book"/>
            <input type = "reset" name="reset"/>
        </form>
        <hr/>
    </div>
    <table>

        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Delete Category</th>
            <th>Update Catgeory</th>


        </tr>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.name}}</td>
            <td>{{book.category}}</td>
            <td><input type = "button" value ="delete" (click)="deleteBook(book.id)"/></td>
            <td><input type = "button" value ="update" (click)="updateBook(book)"/></td>

        </tr>
        <br/>
    {{deleteMsg}}
    <br/>
    </table>
</div>

